<div id="_divCanvas" @ref="_divCanvas" style="position: fixed; opacity: 1; width: 100%; height: 100%">
    <canvas id="@Id" width="@_screenWidth" height="@_screenHeight" @ref="_canvasRef"></canvas>
</div>
