[submodule "src/HACC.Demo"]
	path = src/HACC.Demo
	url = https://github.com/Blazor-Console/HACC.Demo.git
	branch = main
[submodule "src/Blazor.Extensions.Canvas"]
	path = src/HACC.Blazor.Extensions.Canvas
	url = https://github.com/Blazor-Console/Blazor.Extensions.Canvas.git
	branch = main
