[submodule "test/HACC.Tests"]
	path = test/HACC.Tests
	url = https://github.com/Blazor-Console/HACC.Tests.git
	branch = main
[submodule "src/HACC.Demo"]
	path = src/HACC.Demo
	url = https://github.com/Blazor-Console/HACC.Demo.git
	branch = main
[submodule "src/gui.cs"]
	path = src/gui.cs
	url = https://github.com/Blazor-Console/gui.cs.git
	branch = main
[submodule "src/Blazor.Extensions.Canvas"]
	path = src/Blazor.Extensions.Canvas
	url = https://github.com/Blazor-Console/Blazor.Extensions.Canvas.git
